################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lesson_1/.vs/Lesson_1/v16
/Lesson_1/obj
/Lesson_1/bin/Debug/net5.0
*.csproj
*.sln
